---
import MySiteLayout from "../layouts/MySiteLayout.astro";
import AddTodo from "../components/AddTodo.astro";
import TodoList from "../components/TodoList.astro";

const title = "TODO List";

const todoList = ["todo one", "todo two", "todo three", "todo four"];
---

<MySiteLayout title={title}>
  <div class="todo-container">
    <AddTodo todoList={todoList} />

    <TodoList todoList={todoList} />
  </div>
</MySiteLayout>

<style lang="scss">
  .todo-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
</style>
